
<html>
<head><title></title>
<style type="text/css">
 body {
	background-image:url('images/fondo2.jpg');
 	background-repeat:repeat-y;}
 </style>

</head>

<body>

<center>
<h1 style="color: #ffffff;">HangPhones</h1>

<form action="/">
	<table align="center">
	<tr>
		<td align="center"><span style="font-size: 1em; color:#ffffff;">Ingrese nick<span/></td>
	</tr><tr>
		<td align="center"><input type="text" name="nick" /></td>
	</tr><tr>
		<td align="center"><span style="font-size: 1em; color:#ffffff;">Ingrese telefono</span></td>
	</tr><tr>
		<td align="center"><input type="text" name="telefono" /></td>
	</tr><tr>
		<td align="center"><input type="submit" name="entrar" value="Entrar" /></td>
	</table>	
</form>
</center>
</body>

</html>
