<html>
	<head>
		<title>Registro Dentista</title>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/cyberDental.js"></script>
	</head>
	<body>
		<center>
			<form id="registroDentista" method="post"
			action="/dentistas/GuardaDentistas">
				<select id="generoDentista" name="generoDentista">
					<option value="1">Dr.</option>
					<option value="2">Dra.</option>
				</select>
				<input type="text" id="nombreDentista" name="nombreDentista" />
				<input
				type="text" id="apellidoPaternoDentista"
				name="apellidoPaternoDentista" />
				<input type="text"
				id="apellidoMaternoDentista" name="apellidoMaternoDentista" />
				<input
				type="text" id="emailDentista" name="emailDentista"/>
				<input
				type="text" id="cedulaDentista" name="cedulaDentista" />
				<input
				type="text" id="usuarioDentista" name="usuarioDentista" />
				<input
				type="text" id="passwordDentista" name="passwordDentista" />
				<input
				type="text" id="confirmarPasswordDentista"
				name="confirmarPasswordDentista" />
				<input type="submit"
				id="registrarDentista" name="registrarDentista" />
			</form>
	</body>
</html>
